.top1 {
    padding: 40px;
    text-align: center;
    background: #f7d1d1;
    color: white;
    font-family: Arial;
    font-size: 30px;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

#button button {
    margin-top: 0%;
    padding-top: 10px;
}