<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <link href="style.css" rel="stylesheet"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',path='style.css')}}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Vaccine website </title>
</head>

<body>





    <div class=" top1 ">
        <h1 style="padding: 0.5 cm ; font-family: Open-Sans; ">Vaccine Website</h1>
    </div>

    <section class="vh-100 ">
        <div class="container-fluid h-custom ">
            <div class="row d-flex justify-content-center align-items-center h-100 ">
                <div class="col-md-9 col-lg-6 col-xl-5 ">
                    <img src="{{url_for('static',path='image.jpg')}}" class="img-fluid " alt="Sample image ">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 ">
                    <form>
                        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start ">
                            <p class="lead fw-bold mt-2 pt-1 mb-03 ">Register or Sign In for Vaccination</p>


                            <button type="button " class="btn btn-primary btn-floating mx-1 ">
                    <i class="fab fa-facebook-f "></i>
                  </button>

                            <button type="button " class="btn btn-primary btn-floating mx-1 ">
                    <i class="fab fa-twitter "></i>
                  </button>

                            <button type="button " class="btn btn-primary btn-floating mx-1 ">
                    <i class="fab fa-linkedin-in "></i>
                  </button>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4 " style="padding-top: 1cm ; ">
                            <input type="email " id="form3Example3 " class="form-control form-control-lg " placeholder="Enter your phone number " />

                        </div>



                        <div class="d-flex justify-content-between align-items-center ">


                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2 " id="button ">
                            <button type="button " onclick = navigate() class="btn btn-primary btn-lg " style="padding-left: 2.5rem; padding-right: 2.5rem; " >Login </button>
                            <p class="small fw-normal mt-2 pt-1 mb-0 ">By Sign In/Registration, I agree to the Terms of Service and Privacy Policy
                                <a href="#! " class="link-danger "></a>
                            </p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary ">


            <!-- Right -->
            <div>
                <a href="#! " class="text-white me-4 ">
                    <i class="fab fa-facebook-f "></i>
                </a>
                <a href="#! " class="text-white me-4 ">
                    <i class="fab fa-twitter "></i>
                </a>
                <a href="#! " class="text-white me-4 ">
                    <i class="fab fa-google "></i>
                </a>
                <a href="#! " class="text-white ">
                    <i class="fab fa-linkedin-in "></i>
                </a>
            </div>
            <!-- Right -->
        </div>
    </section>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js " integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2 " crossorigin="anonymous "></script>




</body>
<script>
    function navigate(){

        window.open('http://127.0.0.1:8000/vaccination_center');
    }
</script>
</html>